@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Commissioner", sans-serif;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  font-family: "Commissioner", sans-serif;
}

.modal {
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;
  top: 121px;
  margin: 0 6%;
  width: 88%;
  padding: 32px 24px;
  display: none;
  z-index: 5;
  animation-name: fadein;
  animation-duration: 0.5s;
}

.modal-default {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.close-modal-button {
  background-image: url("../images/icon-close-modal.svg");
  height: 14px;
  width: 14px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 24px;
  top: 32px;
}

.thank-you-message {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
  display:none;
}

.thank-you-message img {
  height: 64px;
  width: 64px;
}

.thank-you-message button {
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 0.9rem;
  color: #ffffff;
  background: #3cb3ab;
  border-radius: 33.5px;
  border:none;
  padding:1rem 2rem;
}

.product-info-modal {
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding-top: 0.5rem;
}

.product-selected {
  border: 2px solid #3cb3ab;
  border-radius: 8px;
}

.description-text {
  font-size: 0.9rem;
  line-height: 24px;
  color: #7a7a7a;
}

.product-info-modal .description-text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.product-info-modal .description-text {
  margin-top: 1.8rem;
  margin-bottom: 1.5rem;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  color: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: grid;
  place-content: center;
  transform: translateY(1.5rem);
  margin-left: 1.5rem;
}

input[type="radio"]::before {
  content: "";
  background-color: #3cb3ab;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  transform: scale(0);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

label {
  font-weight: 700;
  font-size: 0.9rem;
  display: inline-block;
  margin-left: 4rem;
}

span {
  display: block;
}

.reward-radio + label {
  margin-top: -0.7rem;
}

.modal .number-remaining-container {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.modal .number-remaining {
  font-size: 1.1rem;
}

.pledge-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1.4rem 1rem;
  display: none;
}

.pledge-input-container label {
  font-weight: 400;
  color: #7a7a7a;
  margin: 0;
}

.pledge-input-container > div {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.pledge-input {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 33.5px;
  padding: 1rem 0.9rem 1rem 2.5rem;
  width: 40%;
  font-family: "Commissioner", sans-serif;
  background-image: url("../images/$.svg");
  background-repeat: no-repeat;
  background-position: 24px;
}

.continue-button {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #3cb3ab;
  border-radius: 33.5px;
  border: none;
  padding: 1rem 1.6rem;
}

.background-color {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: normal;
  opacity: 0;
  transition: all 0.75s ease;
  display: none;
}

.background-overlay {
  background: #000000;
  opacity: 0.5;
  display: block;
  z-index: 3;
}

.background-gradient {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
  opacity: 0.6;
  display: block;
  z-index: 3;
}

header {
  background-image: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.0001) 100%
    ),
    url("../images/image-hero-mobile.jpg");
  background-size: 100% 128px, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: top, top;
  padding: 2rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.3rem;
  height: 40%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  width: 16px;
  height: 15px;
  border: none;
  display: flex;
  background-image: url("../images/icon-hamburger.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  z-index: 4;
}

.close-menu {
  background-image: url("../images/icon-close-menu.svg");
}

ul {
  list-style-type: none;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;
  opacity: 0;
  transition: all 0.5s;
}

.nav-open {
  opacity: 1;
  z-index: 4;
}

li {
  padding: 24px;
  border-bottom: 1px solid #032f2f2f;
  font-weight: 500;
  font-size: 1.1rem;
}

li:last-of-type {
  border-bottom: none;
}

main {
  padding: 6%;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main > div {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1.5rem 2.5rem 1.5rem;
}

.title-container {
  padding-top: 0;
  margin-top: -5rem;
  gap: 1.5rem;
}

.title-container img {
  width: 56px;
  height: 56px;
}

.title-container > img {
  margin-top: -1.8rem;
}

.title-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  font-size: 1.3rem;
}

.about-text .description-text {
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
}

.title-buttons-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.back-project-button {
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-family: "Commissioner", sans-serif;
  background: #3cb3ab;
  border-radius: 33.5px;
  border: none;
  padding: 1.1rem 2.6rem;
  z-index: 2;
}

.bookmark-button {
  border: none;
  background: none;
}

.stats-container {
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.stats-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-text div {
  padding: 1.5rem;
}

hr {
  width: 5rem;
  color: #000000;
  opacity: 0.2;
}

.stats-large {
  font-weight: 700;
  font-size: 2rem;
}

.stats-small {
  color: #7a7a7a;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.progress-bar-total {
  height: 0.8rem;
  width: 100%;
  background: rgba(47, 47, 47, 0.05);
  mix-blend-mode: normal;
  border-radius: 33.5px;
}

.progress-bar-completed {
  background: #3cb3ab;
  height: 0.8rem;
  border-radius: 33.5px;
}

.product-info-container {
  gap: 1.5rem;
  padding: 2rem 1.2rem 2.5rem 1.2rem;
  text-align: left;
}

.about-text {
  margin-top: 0.5rem;
}

h2 {
  font-size: 1.1rem;
}

main .product-info {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 1.5rem;
}

.out-of-stock {
  opacity: 0.5;
}

h3 {
  font-size: 0.9rem;
}

.pledge-amount {
  color: #3cb3ab;
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.product-info-text {
  font-size: 0.9rem;
  line-height: 24px;
  color: #7a7a7a;
  margin: 1.5rem 0;
}

.number-remaining-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.left {
  color: #7a7a7a;
  font-size: 0.9rem;
}

.number-remaining {
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
}

.select-reward {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  background: #3cb3ab;
  border-radius: 33.5px;
  padding: 1.1rem 2rem;
  margin-top: 1.5rem;
  z-index: 2;
}

.select-reward:disabled {
  background: #2f2f2f;
  mix-blend-mode: normal;
  opacity: 0.5;
}
